<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p>Hello    {{ user }}! {{ NewsViewSet }} {{ user.count }} ,</p>


    <li>
    <ul>
        {% for title in news.title %}
          <li>{{ title }} </li>
        {% endfor %}
    </ul>
    </li>



	{% block content %}
    {% for news in object_list %}
<p>{{ news.datapost|date:"Y-m-d" }}<a href="/appogo/{{ news.autor }}">{{ news.title }}  base2</a></p>

    {% empty %}
    <p>Нет н</p>
    {% endfor %}

    {% endblock %}


</body>
</html>